<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TuneHub Application</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<div class="Heading">
		<h1>
			<u>Welcome to Tune Hub Application</u>
		</h1>
		<a href="/map-register" class="signup btn btn-dark">Sign Up</a> 
		<a href="/map-login" class="login btn btn-dark">Log In</a>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>